{% extends "layout.html" %}
{% load static %}

{% block content %}
    <div class="container contact">
        <div class="row">
            <div class="mensaje">
                <div class="contact-info text-center">
                    <img src="{% static 'img/logo.png'%}" width="400" height="400" alt="image"/>
                    <h2>Gracias por su mensaje</h2>
                    <h4>Si desea también puede ver más información en nuestro sitio web dando <a href="https://www.facebook.com/AlexiasFashioncr">clic aquí</a></h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}